@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



g > rect:hover {
	cursor: pointer;
	fill: #24BBCA;
}

g > path {
	pointer-events: none;
}

  #map-container {
	position: relative;
  }

  #pin {
    position: absolute;
    bottom: 166px;
    left: 370px;
  }
  
  .circle-1, .circle-2, .circle-3, .circle-4 {
	animation: circles-fade 1.5s infinite;
	animation-direction: alternate;
	anination-timing-function: ease-in-out;
	transform-origin: center;
  }
  
  .circle-4 {
	animation-delay: 0;
  }
  .circle-3 {
	animation-delay: .25s;
  }
  .circle-2 {
	animation-delay: .5s;
  }
  .circle-1 {
	animation-delay: .75s;
  }
  
  
  @keyframes circles-fade {
	0% {
	  transform: scale(.7);
	  opacity: 0;
	}
	100% {
	  transform: scale(1);
	  opacity: 1;
	}
  }